# Ignore Large Projects
AetherMarketplace/
DataCity/
FutureSelf/
ats-system/
ödev1/
ödevler/

# OS/System Files
.DS_Store
Thumbs.db
node_modules/
venv/
.env

# Plan Documents
deployment_plan.md
task.md
